<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>yannapp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom css -->
    <link href="/css/game.css" rel="stylesheet">
    <link href="/css/spells.css" rel="stylesheet">
    <link href="/css/characters.css" rel="stylesheet">
  </head>


  <body>

    <div id="prompt" class="name-prompt">
      <div class="retro-arena">GROS ARENA</div>
	    <div class="char-select col-md-12">
	    	<label>Choose you destiny</label>
	      	<ul class="char-selection">
	      		<li class="selected" data-char="1">
              <div class="class-name">Hunter</div>
	      			<img width="60" src="sprites/character.png">
	      		</li>
	      		<li data-char="2">
              <div class="class-name">Warrior</div>
	      			<img width="60" src="sprites/character.png">
	      		</li>
	      		<li data-char="3">
              <div class="class-name">Mage</div>
	      			<img width="60" src="sprites/character.png">
	      		</li>
            <li data-char="4">
              <div class="class-name">Assassin</div>
	      			<img width="60" src="sprites/character.png">
	      		</li>
            <li data-char="5">
              <div class="class-name">Paladin</div>
	      			<img width="60" src="sprites/character.png">
	      		</li>
	      	</ul>
    	</div>
      <div class="input-group char-name">
  	      <input id="char-name" type="text" class="form-control-sm" placeholder="Name your character" autocomplete="off">
  	      <span class="input-group-btn">
  	        <input id="join" class="btn btn-primary" type="submit" value="Join the battle">
  	      </span>
  	   </div>
	 </div>

    <div id="arena" class="arena">

      <div id="obstacle1" class="obstacle1">
      </div>

      <div id="obstacle12" class="obstacle2">
      </div>

      <div id="" class="spells-bar">
        <div class="block">LC</div>
        <div class="block">1</div>
        <div class="block">2</div>
        <div class="block">3</div>
        <div class="block">4</div>
      </div>

	  </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    // Connection to socket
    var socket = io.connect(<%- JSON.stringify(url) %>);
    </script>
    <script type="text/javascript" src="js/helpers.js"></script>
  	<script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/character.js"></script>
    <script type="text/javascript" src="js/spell.js"></script>
  	<script type="text/javascript" src="js/client.js"></script>
</html>
