/*
* Shoot
*/
.spell-s0{
	z-index: 3;
	position: absolute;
	width: 6px;
	height: 6px;
	border: 1px solid;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	background-color: #614126;
}
div[class*="-explosion"]{
	z-index: 5;
	position: absolute;
	display: inline-block;
	background-color: #873B05;
	width: 10px;
	height: 10px;
	opacity: 1;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
div[class*="-explosion"].expand{
	z-index: 5;
	width: 50px;
	height: 50px;
	background-color: #f2dd5f;
	opacity: 0;
	margin-left: -25px;
	margin-top: -25px;
	-webkit-border-radius: 25px;
	    moz-border-radius: 25px;
		 -o-border-radius: 25px;
			border-radius: 25px;
}

/*
* s1 / aim_shoot
*/
.spell-s1{
	z-index: 3;
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	background-color: white;
}

/*
* s2 / slow
*/
.spell-s2{
	z-index: 3;
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	background-color: #79CDCD;
}
/*
* s6 / back-dash
*/
.spell-s6{
	z-index: 3;
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	background-color: #FFA500;
}
