body{
	background-color: #D3D3D3;
	font-family: "League-Gothic", Courier;
	overflow: hidden;
}

/*
* Arena part
*/

.arena{
	margin: 50px auto;
	width: 1280px;
	height: 720px;
	z-index: 1;
	border: 2px solid;
	background-image: url(../sprites/ground1.jpg);
	background-repeat:repeat;
	background-size: 200px;
	position: relative;
	cursor: pointer;
}


.obstacle1-top{
	background-image: url(../sprites/obstacle-top.png);
	background-repeat: no-repeat;
	background-size: 216px 127px;
	/*border-radius: 5%;*/
	/*border: 3px solid;*/
  border-radius: ;
	z-index: 4;
	/*background-repeat:repeat;*/
	/*background-size: 50px;*/
	position: absolute;
	width: 216px;
	height:127px;
	left: 240px;
	top: 200px;
}
.obstacle1-down{
	background-image: url(../sprites/obstacle-down.png);
	background-repeat: no-repeat;
	background-size: 216px 127px;
	/*border-radius: 5%;*/
	/*border: 3px solid;*/
  border-radius: ;
	z-index: 1;
	/*background-repeat:repeat;*/
	/*background-size: 50px;*/
	position: absolute;
	width: 216px;
	height:127px;
	left: 240px;
	top: 327px;
}
.obstacle2-top{
	background-image: url(../sprites/obstacle-top.png);
	background-repeat: no-repeat;
	background-size: 216px 127px;
	/*border-radius: 5%;*/
	/*border: 3px solid;*/
  border-radius: ;
	z-index: 4;
	/*background-repeat:repeat;*/
	/*background-size: 50px;*/
	position: absolute;
	width: 216px;
	height:127px;
	left: 800px;
	top: 200px;
}
.obstacle2-down{
	background-image: url(../sprites/obstacle-down.png);
	background-repeat: no-repeat;
	background-size: 216px 127px;
	/*border-radius: 5%;*/
	/*border: 3px solid;*/
  border-radius: ;
	z-index: 1;
	/*background-repeat:repeat;*/
	/*background-size: 50px;*/
	position: absolute;
	width: 216px;
	height:127px;
	left: 800px;
	top: 327px;
}

/*
* Spells part
*/
.spells-bar {
	z-index: 2;
	border-radius: 2px;
	border: 1px solid #545454;
	opacity: 0.7;
	position: absolute;
	left: 500px;
	top: 685px;
	width: ;
	height: ;
}
.keyblock{
	position: absolute;
	top: 18px;
}
.block {
	text-align: center;
	line-height: 1;
	padding-top: 3px;
	font-size: 10px;
	background-color: #D3D3D3;
  width: 50px;
	height: 30px;
	border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
	border-left: 1px solid #545454;
	border-right: 1px solid #545454;
  float: left;
}

/*
* Info part
*/
.info{
	width: 100px;
	height: 40px;
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -80px;
	margin-left: -50px;
	opacity: .8;
}
.label{
	font-size: 12px;
	text-align: center;
	width: 100px;
	color: #2A2A2A;
	margin: 0 auto;
	display: inline-block;
}
.hp-bar{
	font-size: 70%;
	line-height: 1;
	font-style: italic;
	text-align: left;
	width: 150px;
	height: 13px;
	background-color: #7DD12C;
	border: 1px solid;
	border-radius: 2px;
	margin: 0 auto;
}

/*
* Prompt de selection
*/
.name-prompt{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	border: 1px solid;
	background-color: #eee;
	z-index: 2;
	padding: 10px;
}
.retro-arena{
	text-align: center;
	margin: 0px auto;
	font-family: "League-Gothic", Courier;
	font-size: 40px; text-transform: uppercase;
	color: #707070;
	text-shadow: 2px 2px 0px #eee, 3px 3px 0px #707070;
}
.class-name{
	margin-bottom: 10px;
}
.char-name{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}
.char-selection{
	display: inline-block;
	width: 550px;
	padding: 0;
	list-style-type: none;
	margin: 20px auto 0 auto;
}

.char-select label{
	display: inline-block;
	font-style: italic;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}

.char-selection li {
	display: inline-block;
	float: left;
	width: 20%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #eee;
	padding: 10px 0;
}

.char-selection li.selected{
	border: 2px solid #158cba;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	border-radius: 5px;
}
